*{
    padding:0;
    margin:0;
}
body{
    background:linear-gradient(to right,white,black);
}
.pricing-table{
    display:flex;
    color:#fff;
    font-family:"Open Sans",sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    line-height:1;
}
.card{
    width:220px;
    height:370px;
    box-shadow:2px 2px 46px -4px #00000099;
    padding:30px;
    border-radius:1.5rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    transition:all 0.2s ease-in-out;
    overflow:hidden;
    position:relative;
    right:-25%;
    margin-top:5%;
}
.type{
    margin-top:30px;
    letter-spacing:0.1rem;
    font:inherit;
}
.price{
    font-size:7.5rem;
    position:relative;
    margin:10px 0px 20px;
    z-index:2;
}
.price::before{
    position:absolute;
    color:rgba(255,255,255,0.06);
    font-size:9.5rem;
    z-index:1;
    right:-30%;
    bottom:15%;
    text-shadow:0 0 0px rgba(51,55,69,0);
    transition:all 1s ease-in-out;
}
.prise span{
    font-size:1.8rem;
    position:absolute;
    left:-15%;
    top:65%;
}
.card:nth-child(1){
    background:linear-gradient(to left,#91eae4,#86a8e7,#7f7fd5);
}
.card:nth-child(1).price::before{
    content:"$10";
}
.card:nth-child(2) {
    background: linear-gradient(to right,rgb(242, 157, 23),rgb(255, 23, 23));
    margin:0 30px;
    width:250px;
    height:400px;
}
.card:nth-child(2).price::before{
    content:"$30";
}
.card:nth-child(3).price::before{
    content:"$50";
}
.card:nth-child(3){
    background:#00b09b;
    background:linear-gradient(to right,rgb(82, 197, 255),rgb(74, 254, 54));
}
.card:nth-child(1).price,.card:nth-child(3).price{
    font-size:6rem;
}
.plan{
    font-size:1.3rem;
    position:absolute;
    margin-bottom:10px;
}
.plan::before,
.plan::after{
    position:absolute;
    content:"";
    width:35px;
    height:2px;
    background:#fff;
    bottom:40%;
    transition:all 0.2s ease-in-out;
}
.plan::before{
    right:100%;
    transform:translate(-50%,50%);
}
.plan::after{
    right:-100%;
    transform:translate(0%,-50%);
}
.details{
    text-transform:capitalize;
    list-style:none;
}
.details li{
    margin:15px 0px;
}
.buy-button{
    cursor:pointer;
    width:250px;
    height:180px;
    background:#fff;
    border-radius:15%;
    position:absolute;
    right:-34%;
    bottom:-27%;
    transition:all 0.4s ease-in-out;
}
.buy-button h3{
    color:#333745;
    text-shadow:0 0 0;
    text-decoration:none;
    position:absolute;
    left:8%;
    top:10%;
    font-size:1.2rem;
    transition:all 0.4s ease-in-out;
}
.card:nth-child(1) .buy-button,
.card:nth-child(3) .buy-button {
    width: 230px;
    height: 170px;
}
.card:nth-child(1) .buy-button h3,
.card:nth-child(3) .buy-button h3{
    top:12%;
    left:10%;
    font-size:1rem;
}
.card:hover{
    transform:scale(1.02);
}
.card:hover .price::before{
    animation:text-hover 1s ease-in-out infinite normal;
}
.card:hover .plan::before{
    right:90%;
}
    .card:hover .plan::after {
        right: -90%;
    }
.card:hover .buy-button{
    width:100%;
    right:0%;
    border-radius:0%;
}
.card:hover .buy-button h3{
    left:50%;
    transform:translate(-50%,0%);
}
@keyframes text-hover{
    0%{
        right:-30%;
    }
    50%{
        right:-37%;
    }
    100%{
        right:-30%;
    }
}
.card:nth-child(2){
    position:relative;
    margin-top:5%;
}
h1{
    text-align:center;
    margin-top:10%;
    color:#fff;
    font-family:sans-serif;
}
